/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: 'wdth' var(--main-weight-card);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 18px;
  padding-block: 100px;
}

.header {
  max-width: var(--main-max-width);
  width: 100%;
  background-color: var(--accent-color);
  margin: 0 auto;
  text-align: center;
  padding-block: 120px;
  margin-block-end: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: var(--border-out-block);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  font-family: var(--accent-font-family);
  text-transform: uppercase;
}


.main {
  max-width: var(--main-max-width);
  margin: 0 auto;
  width: 100%;
}

.section__cards {
  display: flex;
  flex-direction: column;
  row-gap: 52px;
}

.card__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.17rem;
}

.card {
  background-color: var(--accent-color);
  border: var(--border-out-block);
}

.card__title {
  padding-inline: 10px;
  padding-block: 4px 6px;

}

.label {
  position: relative;
}

.label-html::before {
  content: "</HTML>";
}

.label-css::before {
  content: "<css>";
}

.label-desigions::before {
  content: "<desigions>";
}

.label-care::before {
  content: "care";
}

.label-support::before {
  content: "<support>";
}

.label-lifes-style::before {
  content: "<lifes-style: none;>";
}

.label-experience::before {
  content: "<experience>";
}


.label::before {
  position: absolute;
  font-size: 14px;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font-family);
  font-weight: 400;
  -webkit-text-stroke: 0.5px var(--accent-color);
  opacity: .3;
  z-index: 1;
}

.card__imgbox {
  max-width: clamp(23.188rem, 16.035rem + 30.52vw, 43.5rem);
  max-height: clamp(23.188rem, 16.035rem + 30.52vw, 43.5rem);
  width: 100%;
}

.card__image {
  max-width: 100%;
  width: 100%;
}

.filter-grayscale {
  filter: grayscale(.7);
}

.filter-contrast {
  filter: contrast(4) brightness(23);
}

.filter-sepia {
  filter: sepia(0.6);
}

.filter-invert {
  filter: invert() sepia(.3) saturate(2) contrast(.6);
}

.filter-saturate {
  filter: saturate(5);
}

.filter-blur {
  filter: blur(12px);
}

.filter-hue-rotate {
  filter: hue-rotate(.5turn);
}

.card__textcontent {
  padding-block: 25px;
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}


.card__text {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  line-height: 1.18;
}

.card__like {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
}


.button {
  background-color: var(--accent-color);
  border: var(--border-out-block);  
  overflow: hidden;
  position: relative;
}



.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--main-color);
  transition: box-shadow .3s ease;
}

.button::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  height: 100%;
  background-color: var(--main-color);
  transition: transform .5s ease-in-out;
}

.button:hover.button::after {
  transform: translateX(0);
}

.card__like-button {
  max-width: 130px;
  width: 100%;
  padding-block: 0.6875rem;
  line-height: 0.9;
  font-size: 0.875rem;
}


.save-to-memory {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding-block: 15px;
  padding-inline: 18px 18px;
  font-size: 14px;
  line-height: .9;
  max-width: 306px;
  margin: 0 auto;
}

.sparks {
  opacity: 0;
}

.core {
  fill: var(--accent-color);
  transition: fill 0.3s ease-in 0.03s;
}

.main-body {
  fill: var(--accent-color);
  transition: fill .3s ease-out 0.05s;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
}

.card__icon-button:hover .main-body {
  fill: var(--main-color);
}


.card__icon-button:hover .core  {
  fill: var(--main-color);
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  transition: fill .3s ease-in;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  transition: fill .3s ease-in;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill .3s ease-in 0.06s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart-full-body {
  animation: scaleAnimation .3s ease-in .1s;
}

.like-icon.is-liked .sparks {
  animation: iskr-opacity .3s ease-in .3s;
}

.like-icon .contour {
  transition: fill .1s linear;
  fill: var(--contour-color);
}



.floopy-svg {
  max-width: 28px;
  max-height: 28px;
}


.floopy-svg-dialog {
  width: 39px;
  height: 39px;
}

.disket-dialog {
  padding: 30px 42px;
}

.disket-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
}


.disket-dialog:open {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px 16px;
  align-items: center;
  max-width: clamp(21.313rem, 21.048rem + 1.13vw, 22.063rem);
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disket-dialog:open .dialog__button {
  grid-column: 1/3;
}

.dialog__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
}

.dialog__button {
  padding: 12px 0px;
  font-size: 14px;
  line-height: .9;
}

@keyframes scaleAnimation {
  to {
    scale: 1;
  } from {
    scale: 1.25;
  }
}

@keyframes iskr-opacity {
  0% {
    opacity: 0;
  } 50% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}


@media (width > 375px) {

  .header {
    padding-block: 128px;
  }

  .card__text {
    row-gap: 29px;
  }

  .section__cards {
    row-gap: 50px;
  }

  .card__list {
    row-gap: 3.13rem;
  }

  .label::before {
    right: 25px;
  }

  .disket-dialog:open {
    padding: 30px;
    column-gap: 20px;
  }

  .save-to-memory {
    flex-direction: row;
    max-width: 335px;
  }

  .floopy-svg {
    max-width: 21px;
    width: 100%;
    max-height: 21px;
  }
}

