/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: "Inter";
  --accent-font-family: "PressStart2P";
  --main-weight-card: 400;
  --weight-title-card: 700;

  --main-max-width: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  --main-title-fs: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);

  /* color */
  --main-color: #000000;
  --accent-color: #ffffff;


  --border-out-block: 2px solid var(--main-color);


  --background-url: url('../images/background.png');
}

